.header {
  background-color: #232f3e;
}

.header a {
  color: white;
}

.navlink {
  line-height: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {
  color: white;
}

.dropdown-item {
  padding: .5rem;
  min-width: 15rem;
}

.dropdown-menu {
  background-color: rgb(230,230,230);
}

.dropdown-img {
  width: 60px;
  max-height: 50px;
}

@media (min-width: 575.98px) {
  .dropdown-img {
    width: 75px;
  }
}

.cart-dropdown {
  color: black;
}
