html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #3fa0fc;
  margin-bottom: 78px;
}

.container-fluid {
  padding: 0px;
}

.row {
  margin: auto;
}
.dropdown-item {
  padding: .5rem;
  min-width: 15rem;
}

.padded-row {
  padding-bottom: 2rem;
}


@media all and (max-width: 575.98px) {

    /* Force table to not be like tables anymore */
	#cart-table table,
	#cart-table thead,
	#cart-table tbody,
	#cart-table th,
	#cart-table td,
	#cart-table tr {
		display: block;
	}

  #cart-table td .cin {
    display: table-cell;
  }

	/* Hide table headers (but not display: none;, for accessibility) */
	#cart-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#cart-table td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

  #cart-table .cst {
    visibility: hidden;
    display: none;
  }

	#cart-table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#cart-table td:before { content: attr(data-title); }

}

.qty-input { /* Dominic Kolbe Codepen */
  border: 1px solid black;
  height: 40px;
  display: inline-block;
  align-items: center;
	justify-content: center;
  width: 106px;
}
.qty-input i {
  cursor: pointer;
  font-family: serif;
  height: 38px;
  position: relative;
  float: left;
  line-height: 40px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 150ms ease-out;
  width: 30px;
}
.qty-input i:active {
  background-color: #007bff;
}
.qty-input input {
  border: 0px solid;
  float: left;
  font-size: 24px;
  height: 38px;
  text-align: center;
  outline: none;
  width: 44px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.btn-outline-secondary:hover {
  background-color: #007bff;
}

.cin {
  float: left;
}

.clear {
  clear: both;
}

.checkout-card {
  border: none;
}

.dropdown-img {
  width: 60px;
  max-height: 50px;
}

@media (min-width: 575.98px) {
  .dropdown-img {
    width: 75px;
  }
}

.thumb-img:active{
  background-color: black;
}
@media (max-width: 575.98px) {
  .checkout-img {
    width: 128px;
    height: 128px;
  }
}
.checkout-img {
  max-width: 150px;
  max-height: 150px;
}
.micon {
  content: url('/media/mi.png');
  display: block;
  margin: 0 auto;
}

h6 > a {
  color: #3fa0fc
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  line-height: 7px;
  background-color: #EEE;
}

.footer a ~ a {
  height: 7px;
  position: relative;
  top: 11px;
}

.footer-link {
  font-size: 14px
}

.cr-name {
  position: relative;
  font-size: 12px;
  height: 0;
  bottom: -22px;
}

.sig {
  position: relative;
  bottom: -16px;
}

.navbar {
  background-color: #e3f2fd;
}

.card {
  background-color: rgb(238,238,238)
  border: none;
}

.date {
  color: #AAA;
  font-size: 14px;
}

.footer a {
  height: 32px;
}

.product a {
  color: inherit;
  text-decoration: none;
}

.slides {
  display: none;
}

.slide-img {
  max-width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(244, 244, 244, 0.2);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

@media (min-width: 992px) {
  .img-thumbnail {
    min-height: 75px;
  }
}

@media (max-width: 575.98px) {
  .img-thumbnail {
    min-height: 60px;
  }
}


.active,
.demo:hover {
  opacity: 1;
}
