html {
  position: relative;
  min-height: 100%;
}
body {
  /*background-image: url('/media/bgd.jpeg');
  background-size: 100%;*/
  background-color: #3fa0fc;
  margin-bottom: 78px;
}

.container-fluid {
  padding: 0px;
}

.row {
  margin: auto;
}
.dropdown-item {
  padding: .5rem;
  min-width: 15rem;
}

.padded-row {
  padding-bottom: 2rem;
}


@media all and (max-width: 575.98px) {

    /* Force table to not be like tables anymore */
	#cart-table table,
	#cart-table thead,
	#cart-table tbody,
	#cart-table th,
	#cart-table td,
	#cart-table tr {
		display: block;
	}

  #cart-table td .cin {
    display: table-cell;
  }

	/* Hide table headers (but not display: none;, for accessibility) */
	#cart-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#cart-table td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

  #cart-table .cst {
    visibility: hidden;
    display: none;
  }

	#cart-table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#cart-table td:before { content: attr(data-title); }

}

.cin {
  float: left;
}

.clear {
  clear: both;
}

.checkout-card {
  border: none;
}

.dropdown-img {
  width: 50px;
  height: 50px;
}
@media (max-width: 575.98px) {
  .checkout-img {
    width: 128px;
    height: 128px;
  }
}
.checkout-img {
  max-width: 150px;
  max-height: 150px;
}
.micon {
  content: url('/media/mi.png');
  display: block;
  margin: 0 auto;
}

h6 > a {
  color: #3fa0fc
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  line-height: 7px;
  background-color: #EEE;
}

.footer a ~ a {
  height: 7px;
  position: relative;
  top: 11px;
}
.nav-link {
  /* color: #666666 */
}
.footer-link {
  font-size: 14px
}

.cr-name {
  position: relative;
  font-size: 12px;
  height: 0;
  bottom: -22px;
}

.sig {
  position: relative;
  bottom: -16px;
}

.navbar {
  background-color: #EEE
}

.card {
  background-color: rgb(238,238,238)
}

.product-img {
  max-height: 400px;
}

.date {
  color: #AAA;
  font-size: 14px;
}

.footer a {
  height: 32px;
}

.shadow {
  box-shadow: 10px 10px 5px gray;
}

.static {
  resize: none
}

.nostyle {
  list-style-type: none;
}

.product a {
  color: inherit;
  text-decoration: none;
}

.preview-frame {
  height: 60%;
}

.input-group-addon {
    min-width: 100px;
}

.indent {
    text-indent: 1.5rem;
}
