html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0 0 0 0;
  height: 100%;
}

.brand {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-size: "1.25rem";
  margin: 0;
}
