extends ../includes/layout.pug

append resources
  title Admin

append body
  .col-md-10.mx-auto
    .card
        h1.card-header.text-center Admin
        ul.list-group
          .card
            .card-body
              a.btn.btn-primary(href='/addfish') Add Product
              a.btn.btn-primary.ml-2(href='/orders') View Orders
    each fish in fishes
      .card
        a(href='/editfish/' + fish.sku)
          .card-body
            h5.card-title= fish.name
