extends ../includes/layout.pug

append body
  .col-xs-12.col-lg-4.mb-2.ml-auto
    .card
      .card-header 
        i.fas.fa-user-plus.mr-2
        span New Customers
      .card-body
        a(href='/asguest')
          button.btn.btn-primary.form-control Checkout as Guest

  .col-xs-12.col-lg-4.my-auto.mr-auto
    .card.mb-3
      .card-header 
        i.fas.fa-user.mr-2
        span Returning Customers
      .card-body 
        form
          .form-group
            label(for='em') Email
            input#em.form-control(type='text' placeholder='Email')
          .form-group
            label(for='pw') Password
            input#pw.form-control(type='password' placeholder='Password')
          a
            button.btn.btn-primary.form-control Login
