extends ../includes/layout.pug

append resources
  title Shark Reef Exotics
append body
  .card-group
    each fish, index in fishes
      .col-xs-12.col-md-3
        .product
          a(href='/viewproduct=' + fish.id)
            .card.mx-2.mb-4(style='border: none')
              img.card-img.rounded(src='../media/' + fish.id + '-1.jpg' style='height: 15rem')
