extends ../includes/layout.pug

append resources
  title Signup
  form(action='/new' method='POST' id='signup')
append body
  .col-md-4.mx-auto
    .card.text-center
      .card-header
        i.fa.fa-user-plus.fa-lg.mr-1
        h4.d-inline-block.mr-5 Sign up
      .card-body
        if (flash.length > 1)
          .alert.alert-danger.text-center
            = flash
        .form-group
          .row.justify-content-center
            .col-md-8
              .input-group
                .input-group-prepend
                  span.input-group-text Username
                input.form-control(type='text' name='username' form='signup')
        .form-group
          .row.justify-content-center
            .col-md-8
              .input-group
                .input-group-prepend
                  span.input-group-text Email
                input.form-control(type='text' name='email' form='signup')
        .form-group
          .row.justify-content-center
            .col-md-8
              .input-group
                .input-group-prepend
                  span.input-group-text Password
                input.form-control(type='password' name='password' form='signup')
        .form-group
          .row.justify-content-center
            .col-md-4
              input.form-control(type='submit' class='btn btn-primary' value='Register' form='signup')
        .col-md-8.mx-auto
          hr
        .col-md-4.mx-auto.text-center(style='font-size: 15px')
          .row
            span.mr-1 Have an 
            a(href='/login') account?
