extends ../includes/layout.pug

append body
  input#hsku(type='hidden' value=sku)
  .col-md-10.col-lg-4.ml-auto
    each pic in pics
      .slides
        img.slide-img.rounded(src='../uploads/' + pic.name)

    a.prev(onclick='move(-1)') &#10094;
    a.next.mr-3(onclick='move(1)') &#10095;
    .row.my-1
      each pic, index in pics
        .column.mr-3
          img.demo.thumb-img.rounded(src='../uploads/' + pic.name style='width:100%' onclick='currentSlide(' + parseInt(index+1) + ')')
  .col-md-10.col-lg-5.mr-auto.mt-2.ml-2.text-center
    .card
      .card-header.mt-3: h2= name
        h4.text-muted $#{price}
      .card-body
        .row
          if quantity > 0
            //- .qty-input.mr-3.rounded.mb-3
            //-   i.less.rounded -
            //-   input(type="number" value="1" readonly)
            //-   i.more.rounded +
            p.w-100.lead= description
            a.btn.btn-outline-primary.form-control.mx-5#atc(href='/addtocart?sku=' + sku + '&amount=1') Add to cart    
            
append footer
  script(src='../js/counter.js')
