@import '../variables';

aside.cart-dropdown {
    position: absolute;
    right: 0px;
    top: 70px;
    left: 0;
    overflow-y: scroll;
}

.cart-dropdown .cart-total {
    display: inline;
    color: $mainConfirm;
}

.cart-dropdown .card-body {
    display: flex;
    justify-content: space-between;
}