aside.cart-dropdown {
    position: absolute;
    right: 0px;
    top: 71px;
    left: 0;
    overflow-y: scroll;
}

aside.cart-dropdown:before {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    content: '';
}