@import '../variables';

.cart-item {
    text-align: left;
    font-size: 1rem;
}

.cart-item p {
    margin: 0;
}

.cart-item .card-body {
    padding: 1rem;
}

.card-body .d-inline-block h5,
.card-body .d-inline-block h6 {
    display: inline;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item aside {
    position: absolute;
    right: 0;
}

.item-total {
    display: inline-block;
    margin-top: 5px;
    color: $mainConfirm;
    font-size: .8rem;
}

.card-body span ~ input {
    width: 4rem;
    background-color: inherit;
    border: none;
    font-size: 1.75rem;
    cursor: pointer;
}

.card-body span ~ br ~ span {
    font-size: .75rem;
}

.card-body .d-inline-block {
    vertical-align: 0;
}

.card-body h5 ~ p {
    font-size: .75rem;
    color: grey;
}

.amount {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}

.amount span {
    font-size: 3rem;
    vertical-align: -8px;
    color: $mainHighlight;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}