@import '../variables';

.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $mainColor;
    padding-top: 60px;

    a {
        text-decoration: none;
    }

    > hr {
        vertical-align: -3px;
        margin: -3px 20px 2rem 0;
    }

    .text-left li {
        padding-left: 30%;
    }

    p {
        display: inline;
        margin-left: 1rem;
    }
    
}
