mixin header()
  a(href='/')
    img.micon.rounded.img-fluid

mixin footer()
  .footer
    .row
      .ml-auto
        a.mr-2.footer-link(href='/about') About
        a.mr-2.pl-2.footer-link(href='/contact') Contact
        a.mr-2.pl-2.footer-link(href='/privatepolicy') Privacy
    .row
      .cr-name.mx-auto &copy 2019 Monsoon Glass

mixin navvy(index)
  -
      var pages = [ 'Home', 'these', 'dont', 'do', 'jack'];
      var urls = [ '/', '/inverts', '/coral', '/wysiwyg', '/food'];  
  col-xs-12
    .topheader.d-flex
      .btn-group.ml-auto.mt-1.nav-buttons
        button.btn.btn-outline-light.rounded.nav-button(data-toggle='dropdown')
          i.fa-lg.fas.fa-shopping-cart
        .dropdown-menu.dropdown-menu-right.mt-4.pt-0.pb-2
          each item, index in cart.items
            a.dropdown-item(href='/viewproduct=' + item.id)
              .row
                .col-xs
                  img.dropdown-img.img-thumbnail(src='../media/' + item.id + '-1.jpg')
                .col-xs.ml-2.cart-dropdown
                  h6= item.name
                  span $#{(cart.amount[index]*item.price).toFixed(2)}
            .dropdown-divider
          .row 
            span.mx-auto Total: $#{cart.total}
          .row 
              a.btn.btn-outline-dark.viewcart.mx-auto.mt-1(href='/cart') View Cart
        if (loggedIn)
          a.btn.btn-outline-light.nav-button.rounded.ml-1(href='/logout')
            i.fa-lg.fas.fa-sign-out-alt
        if (!loggedIn)
          a.btn.btn-outline-light.nav-button.rounded.ml-1(href='/login')
            i.fa-lg.fas.fa-user
    nav.navbar.navbar-dark.navbar-expand-lg.mb-4
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navcollapse')
        span.navbar-toggler-icon
      #navcollapse.collapse.navbar-collapse
        .row
          ul.nav.mx-auto 
            each i in [0, 1, 2, 3, 4]
              li.nav-item: a.nav-link.pt-0(href=urls[0])= pages[i]
            if (aauth)
              li.nav-item: a.nav-link.pt-0(href='/admin') Admin
        //- .navbar-nav
        //-   form.form-inline
        //-     input.form-control.mr-2.my-1(type='search' placeholder='Search')
        //-     button.btn.btn-outline-primary.mr-2.my-1(type='submit') Search
              
                    
mixin icons
  a.float-left.ml-1(href= 'https://github.com/angeljruiz')
    i.fa-2x.fab.fa-github
