mixin header()
  a(href='/')
    img.micon.rounded

mixin footer()
  .footer
    .row
      .ml-auto
        a.mr-2.footer-link(href='/about') About
        a.mr-2.pl-2.footer-link(href='/contact') Contact
        a.mr-2.pl-2.footer-link(href='/privatepolicy') Privacy
    .row
      .cr-name.mx-auto &copy 2017-2020 Angel Ruiz-Bates

mixin navvy(index)
  .col-xs-12.sticky-top.mb-4
    .header.d-flex.py-1
      if (aauth)
        .nav-item: a.nav-link(href='/admin') Admin
      .btn-group.ml-auto.nav-buttons
        button.btn.btn-outline-light.rounded.nav-button(data-toggle='dropdown')
          i.fa-lg.fas.fa-shopping-cart
          if (cart.totalItems > 0)
            span.badge.badge-danger.ml-2 #{cart.totalItems}
        .dropdown-menu.dropdown-menu-right.mt-2
          each item, index in cart.items
            a.dropdown-item(href='/viewproduct=' + item.sku)
              .row
                .col-xs
                  img.dropdown-img.img-thumbnail(src='/main?sku=' + item.sku)
                .col-xs.ml-2.cart-dropdown
                  h6= item.name
                  span $#{(item.quantity*item.price).toFixed(2)}
            .dropdown-divider
          .row
            span.mx-auto Total: $#{cart.total}
          .row
            a.btn.btn-outline-dark.viewcart.mx-auto.mt-1(href='/cart') View Cart
        if (loggedIn)
          a.btn.btn-outline-light.nav-button.rounded.ml-1.pt-2(href='/logout')
            i.fa-lg.fas.fa-sign-out-alt
        if (!loggedIn)
          a.btn.btn-outline-light.nav-button.rounded.ml-1.pt-2(href='/login')
            i.fa-lg.fas.fa-user
