doctype html
html
  head
    block resources
      title Bates eCommerce
      meta(charset="utf-8")
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      if (showTests)
        link(href='/vendor/mocha.css')
      script(src='/public/main.bundle.js' defer)
      include ../includes/default_page
  body
    - console.log(loggedIn)
    input#logged(type='hidden' value= loggedIn ? 'true' : 'false')
    block body
  //- +footer()
  if (showTests)
    #mocha(style='background-color: white')
    script(src='/vendor/mocha.js')
    script(src='/vendor/chai.js')
    script.
      mocha.ui('tdd')
      var assert = chai.assert;
    script(src='/QA/global-tests.js')
    script mocha.run()
    
footer
  block footer
